<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Pokemon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let pokemon of pokemons">
      
      <ion-card-header *ngFor="let x of species">
        <ion-card-title>{{x.name}}</ion-card-title>
        
      </ion-card-header>
      <ion-card-content>
          <img [src]="pokemon.front_default" alt="" />
          <img [src]="pokemon.back_default" alt="" />
          <img [src]="pokemon.front_shiny" alt="" />
          <img [src]="pokemon.back_shiny" alt="" />
      </ion-card-content>
     
    </ion-card>    
</ion-content>
